# See https://miniflux.app/docs/configuration.html

# Run database migrations during application startup
RUN_MIGRATIONS=1

#BASE_URL=http://localhost/
#DATABASE_URL=user=postgres password=postgres dbname=miniflux sslmode=disable
#HTTPS=1
#LISTEN_ADDR=127.0.0.1:8080

# Supported log formats are text, json or human.
#
# Default is text.
LOG_FORMAT=human
